---
Language: Cpp
BasedOnStyle: Google

AccessModifierOffset: -2
AlignAfterOpenBracket: AlwaysBreak
BraceWrapping:
  AfterClass: true
  AfterFunction: true
  AfterNamespace: true
  AfterStruct: true
BreakBeforeBraces: Custom
ColumnLimit: 100
ConstructorInitializerIndentWidth: 0
ContinuationIndentWidth: 2
DerivePointerAlignment: false
IncludeCategories:
  - Regex: '^<Eigen/'
    Priority: 3
  - Regex: '^<pcl/'
    Priority: 3
  - Regex: '^<opencv2/'
    Priority: 3
  - Regex: '^"/'
    Priority: 4
PointerAlignment: Middle
ReflowComments: false
